*{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    box-sizing: border-box;
    font-family: 'Dancing Script', cursive;
    font-family: 'Kanit', sans-serif;
    font-family: 'Poppins', sans-serif;;
}   
header{
    display: flex;
    background-color: #000;
    padding: 11px 13px;
    height: 74px;
    align-items: center;
   
}
.line {
    width: 1px;
    height: 50px;
    background-color: #fff;
    margin-left: 53px;
  }
header nav ul{
    display: flex;
    color: rgb(254, 251, 251);
    gap: 40px;
    margin-left: 50px;
    font-weight: 400;
    font-size: 16px;
}
header nav ul:hover{
    text-decoration: underline;
    color:rgb(240, 240, 8);
}
header button{
    margin-left: 600px;
    border-radius: 10%;
    font-size: 13px;
    padding: 10px 10px;
    border: none;
    font-weight: 700;
    background-color: rgb(125, 4, 125);
    color: white;
}
header button:hover{
    transform: scale(1.1);
    background-color:yellow;
    color: #000;
    box-shadow:0 5px 15px rgb(183, 236, 77);
}
header div img{
    /* height: 80px;
    width: 80px; */
    /* margin-left: 5px;  */
}
section{
    display: flex;
     align-items: center;
    justify-content: center; 

    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url("bg.png");
    background-size: cover;
    background-attachment: fixed;
    height: 91.5vh;
    text-align: center;   
}
section div h1{
    color: rgb(246, 242, 242);
    font-size: 70px ;
    font-weight: 600;
    
    
}


section div p{
    color:rgb(246, 238, 238);
    margin-left: 20px;
    font-size: 27px;
    font-weight: 500;
    margin-top: 10px;
    /* margin-bottom: 250px; */
    

}
section  div button{
    margin-left: 40px;
    justify-content: space-between;
     margin-top: 60px; 
    padding: 15px 15px;
    background-color: rgb(205, 20, 205);
    color: rgb(239, 231, 231);
    border: none;
    border-radius:15px ;
    font-size: 27px;
    font-weight: 600;
    /* margin-bottom: 200px; */
}
section div button:hover{
    transform: scale(1.1);
    background-color: rgb(0, 0, 0);
    box-shadow:0 5px 15px rgb(183, 236, 77);

}